<ul class="dropdown-menu text-small shadow">
    <li><a class="dropdown-item" href="/clientes/create">Novo...</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/clientes">Consulta Todos</a></li>
    <li><a class="dropdown-item" href="/clientes/search">Consulta por ID / Nome</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/clientes/update">Atualiza Cliente </a></li>
    <li><a class="dropdown-item" href="/clientes/delete">Remove Cliente</a></li>
</ul>