{% extends 'layout.html' %}

{% block mainbar %}
<div class="container-fluid p-2 bg-primary text-white text-center">
    <h1>Cartões</h1>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th>Número Cartão</th>
            <th>Titular</th>
            <th>Limite</th>
            <th>CVV</th>
            <th>Data de Vencimento</th>
        </tr>
        </thead>
        <tbody>
        {% for cartao in cartoes %}
        <tr>
            <td><a href="/cartoes/search/{{ cartao.id }}">{{ cartao.id }}</a></td>
            <td>{{ cartao.cliente_id }}</td>
            <td>{{ cartao.limite }}</td>
            <td>{{ cartao.cvv }}</td>
            <td>{{ cartao.data_vcto }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}