{% extends 'layout.html' %}

{% block mainbar %}
<div class="container-fluid p-2 bg-primary text-white text-center">
    <h1>Clientes</h1>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
        </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
        <tr>
            <td><a href="/cliente_search/{{ cliente.id }}">{{ cliente.id }}</a></td>
            <td>{{ cliente.name }}</td>
            <td>{{ cliente.address }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}