<ul class="dropdown-menu text-small shadow">
    <li><a class="dropdown-item" href="/cliente_create">Novo...</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/cliente_lista">Consulta Todos</a></li>
    <li><a class="dropdown-item" href="/cliente_search">Consulta por ID / Nome</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/cliente_update">Atualiza Cliente </a></li>
    <li><a class="dropdown-item" href="/cliente_delete">Remove Cliente</a></li>
</ul>